<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784229987778-8c8jpeeen3d26dk9gs5b2att6p343i1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784229987778-8c8jpeeen3d26dk9gs5b2att6p343i1c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784229987778-37teifsb34aa50joi3ctuiubdu7r29qj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpw4KKiqefWEUKbOFOQA8DBjtmW5EQ9Ks</string>
	<key>GCM_SENDER_ID</key>
	<string>784229987778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytatva.patient</string>
	<key>PROJECT_ID</key>
	<string>mytatva-patient</string>
	<key>STORAGE_BUCKET</key>
	<string>mytatva-patient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784229987778:ios:612573d96c7928396bd25b</string>
</dict>
</plist>